.demo-chart {
  margin-top: 100px;
}

:host ::ng-deep mat-date-range-picker {
  color: blue;
}


.picker {
  position: relative;
  left: 40%;
}

mat-form-field {
  visibility: hidden;
  width: 1px;
}
