<mat-form-field appearance="fill" class="picker">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date"
    #dateRangeStart>
    <input matEndDate formControlName="end" placeholder="End date"
    #dateRangeEnd
    (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
  </mat-date-range-input>
</mat-form-field>

  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>




<mat-tab-group mat-align-tabs = "center">
<mat-tab label="Volume des ventes">
  <div echarts [options]="options"  theme="macarons" class="demo-chart"></div>
</mat-tab>

<mat-tab label = "Stock">
  <div echarts [options]="options2"  class="demo-chart"></div>
</mat-tab>
</mat-tab-group>
