<mat-toolbar color="primary">

  <button (click)="goToHome()" mat-button>
    <mat-icon>home</mat-icon>
  </button>
  <div class="categories">
    <div class="children right-children">
      <div class="child">
        <button [matMenuTriggerFor]="menu" mat-button>Détails</button>
        <mat-menu #menu="matMenu">
          <div class="child">
            <button (click)="goToDetails()" *ngFor="let item of categories" mat-menu-item>{{item}}</button>
          </div>
        </mat-menu>
      </div>
      <div class="child">
        <app-basic-button  role="Gestion des stocks" (click)="goToStockManage()"></app-basic-button>
      </div>
    </div>
    <span class="example-spacer"></span>
    <button (click)="logout()" mat-button>
      <mat-icon>logout</mat-icon>
    </button>
  </div>

</mat-toolbar>



