<mat-toolbar *ngIf="!isLoginPage"  color="primary">

  <button mat-button (click)="goToHome()"><mat-icon>home</mat-icon></button>
  <div class="categories">
    <div class="children right-children">
      <div class="child">
        <button mat-button [matMenuTriggerFor]="menu">Détails</button>
        <mat-menu #menu="matMenu">
          <div class="child">
          <button mat-menu-item  *ngFor="let item of categories" (click)="goToDetails()">{{item}}</button>
          </div>
        </mat-menu>
      </div>
      <div class="child">
        <app-basic-button  role="Gestion des stocks"></app-basic-button>
      </div>
      <div class="child">
        <app-basic-button  role="Comptabilité"></app-basic-button>
      </div>
    </div>
    <span class="example-spacer"></span>
    <button mat-button> <mat-icon>logout</mat-icon> </button>
  </div>
</mat-toolbar>




