<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nom du produit
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field  appearance="fill">
      <mat-label>Prix</mat-label>
      <input matInput [(ngModel)]="value" type="text" [formControl]="priceFormControl" [errorStateMatcher]="matcher" >
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="priceFormControl.hasError('pattern')">
        Entrez uniquement des chiffres
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="promotion"  appearance="fill">
        <mat-label>Prix en promotion</mat-label>
        <input matInput [formControl]="priceDiscountedFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="priceDiscountedFormControl.hasError('pattern')">
        Entrez uniquement des chiffres
      </mat-error>
      </mat-form-field>
    <mat-form-field  appearance="fill">
      <mat-label>Pourcentage de promotion</mat-label>
      <input matInput [formControl]="percentageDiscountFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="percentageDiscountFormControl.hasError('pattern')">
        Entrez uniquement des chiffres
      </mat-error>
    </mat-form-field>
    <mat-form-field  appearance="fill">
      <mat-label>Quantité</mat-label>
      <input matInput type="number" [formControl]="quantityFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="quantityFormControl.hasError('pattern')">
        Entrez uniquement des chiffres
      </mat-error>
<!--      TODO: mettre un validateur de range, pas de chiffres negatifs-->


    </mat-form-field>
    <mat-form-field  appearance="fill">
      <mat-label>Quantité vendue</mat-label>
      <input matInput disabled>
    </mat-form-field>
    <mat-form-field  appearance="fill">
<!--      TODO:mettre ce validator-->
      <mat-label>Commentaires</mat-label>
      <textarea matInput ></textarea>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
