<div class="divimage">

<mat-card class="card">
<mat-card-content>
    <table class="table">
        <tr>
            <td>
    <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email">
  </mat-form-field>
</td>
</tr>
  <tr>
      <td>
  

  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input type="password" matInput>
  </mat-form-field>
</td>
</tr>
</table>


<div class="bouton">
  <app-basic-button role="Envoyer">      
  </app-basic-button>
</div>
</mat-card-content>
</mat-card>


</div>


<app-footer truc="isLoginPage"></app-footer>








  