
  <mat-card class="card">
    <mat-card-content>
      <table class="table">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="user.email" matInput type="email">
            </mat-form-field>
          </td>
          <td>
            <div class="bouton">
              <button mat-button> Modifier</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>


            <mat-form-field appearance="fill">
              <mat-label>Mot de passe</mat-label>
              <input [(ngModel)]="user.password" type="password" matInput>
            </mat-form-field>
          </td>
          <td>
            <div class="bouton">
              <button mat-button> Modifier</button>
            </div>
          </td>
        </tr>
      </table>

    </mat-card-content>
  </mat-card>












