<mat-form-field appearance="fill" *ngFor="let empfilter of empFilters">
  <mat-label>{{empfilter.name}}</mat-label>
  <mat-select [(value)]="empfilter.defaultValue" (selectionChange)="applyEmpFilter($event,empfilter)">
    <mat-option *ngFor="let op of empfilter.options" [value]="op">
      {{op}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="product.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let trans" > {{trans.product.name}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let trans; columns: displayedColumns;"></tr>

    <!-- Price Column -->
    <ng-container matColumnDef="product.price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
      <td mat-cell *matCellDef="let trans"> {{trans.product.price}} </td>
    </ng-container>

    <!-- Categoty Column -->
    <ng-container matColumnDef="category" class="mat-column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorie </th>
      <td mat-cell *matCellDef="let trans"> {{trans.category}} </td>
    </ng-container>


    <!-- Stock quanity Column -->
    <ng-container matColumnDef="product.stock">
      <th mat-header-cell *matHeaderCellDef > Quantité </th>
      <td mat-cell *matCellDef="let trans">
        <mat-form-field class="mat-column" mat-sort-header style="text-align: center">
          <input placeholder="" type="number" [(ngModel)]="trans.stockBis"  matInput>
          <mat-error *ngIf="quantityFormControl.hasError('pattern')">
          </mat-error>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Discount Column -->
    <ng-container matColumnDef="product.discount">
      <!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> Promotion </th>-->
      <!--          <td mat-cell *matCellDef="let product"> {{product.discount}}% </td>-->
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Promotion </th>
      <td mat-cell *matCellDef="let trans">
        <mat-form-field class="mat-column" style="text-align: center">
          <input placeholder=""  type="number" name="number"  maxlength="3" [(ngModel)]="trans.product.discount"  matInput>
          <mat-error *ngIf="percentageDiscountFormControl.hasError('pattern')">
          </mat-error>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef> Opération </th>
      <td mat-cell *matCellDef="let trans">
        <mat-form-field>
          <mat-select placeholder="" [(value)]="trans.operation"  >
            <mat-option *ngFor="let op of operations" [value]="op.value" >
              {{op.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
  </table>
  <mat-paginator [pageSizeOptions]="[3, 10, 25, 100]" aria-label="Select page"></mat-paginator>
  <div class="buttonDiv">
    <button type="submit" mat-raised-button color="primary" (click)="save()">Valider</button>
  </div>
</div>
