<mat-toolbar-row>
   <div class="footer-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3>Services</h3>
            <ul>
              <li><a href="#">Bateaux</a></li>
              <li><a href="#">Recettes</a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>A propos de nous </h3>
            <ul>
              <li><a href="#">Compagnie</a></li>
              <li><a href="#">Points de relais</a></li>
              <li><a href="#">Carrière</a></li>
            </ul>
          </div>

          <div class="col-sm-6 col-md-3 item">
            <h3>Contacts</h3>
            <ul>
              <li><p>lebateaudethibault@gmail.com</p></li>
              <li><p>06.63.99.99.78</p></li>
            </ul>
          </div>
        </div>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      </div>
   </div>
</mat-toolbar-row>
