
/* Ne pas utiliser position: fixed, ou on ne peut pas le cacher*/
.mat-toolbar2{
  position:sticky;
  bottom:0;
  width:100%;
  display: block;
  background: #3f51b5;
  color: #fff;
  flex-shrink: 0;
}
.liens{
  color: white;
}

body{
  flex-shrink: 1;
}

