
  <mat-card-footer  class="mat-toolbar2">

    <mat-grid-list cols="3" rowHeight="9:1">
      <mat-grid-tile>
        <h3>Services</h3>
      </mat-grid-tile>
      <mat-grid-tile>
        <h3>A propos de nous </h3>
      </mat-grid-tile>
      <mat-grid-tile>
        <h3>Contacts</h3>
      </mat-grid-tile>
        <mat-grid-tile>
          <ul >
            <li><a class="liens" href="#"  >Bateaux</a></li>
            <li><a class="liens" href="#">Recettes</a></li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile>
          <ul >
            <li><a class="liens" href="#">Compagnie</a></li>
            <li><a class="liens" href="#">Points de relais</a></li>
            <li><a class="liens" href="#">Carrière</a></li>
          </ul>
        </mat-grid-tile>

        <mat-grid-tile>
          <ul class="liens">
            <li><p>lebateaudethibault@gmail.com</p></li>
            <li><p>06.63.99.99.78</p></li>
          </ul>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-card-footer>
