
/* Ne pas utiliser position: fixed, ou on ne peut pas le cacher*/
.mat-toolbar2{

display:block;
margin-bottom:0px;
padding-bottom: 0px ;
width:100%;
background: #3f51b5;
color: #fff;
}
.liens{
  color: white;
}


