
  <mat-card-footer *ngIf="isLoginPage" class="mat-toolbar2">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Services</h3>
          <ul >
            <li><a class="liens" href="#"  >Bateaux</a></li>
            <li><a class="liens" href="#">Recettes</a></li>
          </ul>
        </div>
        <div class="col">
          <h3>A propos de nous </h3>
          <ul >
            <li><a class="liens" href="#">Compagnie</a></li>
            <li><a class="liens" href="#">Points de relais</a></li>
            <li><a class="liens" href="#">Carrière</a></li>
          </ul>
        </div>

        <div class="col">
          <h3>Contacts</h3>
          <ul class="liens">
            <li><p>lebateaudethibault@gmail.com</p></li>
            <li><p>06.63.99.99.78</p></li>
          </ul>
        </div>
      </div>
    </div>
  </mat-card-footer>





